</br>
<div class='container'>
<div class="row">
  <div class="col-md-8">
    <h2>Public Wikis</h2>
    <div style="width: 100%; height: 2px; background: #F87431; overflow: hidden;"></div>
    <p>From blocipedia, the free encyclopedia.</p>
    <div>        
    <% if current_user %>
    </br><%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
    <% end %>
    </div><br>
    <% @wikis.each do |wiki| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to wiki.title, wiki %>
          </h4>
          <small>
            <%= wiki.body %><br>
            <% if current_user %>
              <% if policy(wiki).edit? %>
              <%= link_to "Edit ", edit_wiki_path(wiki) %>
              <% end %>
              <% if policy(wiki).destroy? %>
              | <%= link_to " Delete", wiki, method: :delete, data: { confirm: 'Are you sure you want to delete this wiki?' } %>
              <% end %>
            <% end %>
            <br><br>
          </small>
        </div>
      </div>
    <% end %>
    <br><div style="width: 100%; height: 2px; background: #F87431; overflow: hidden;"></div>
    <br><br>
  </div>
</div>
</div>