<div class='container'>
 <div class="row">
   <div class="col-md-8">
     <h3><%= @wiki.title %></h3>
     <div style="width: 100%; height: 2px; background: #F87431; overflow: hidden;"></div>
     <p>From blocipedia, the free encyclopedia.</p>
     <br>
     <p><%= @wiki.body %></p>
     <p>[Created by <b><%= @wiki.user.name %></b> (<%= @wiki.user.email %>) at <%= @wiki.created_at %>]</p>
   </div>
 <div class="col-md-8">
    <br>
    <% if current_user %>
        <% if @wiki.user.can_edit? %>
        <%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-success' %>
        <% end %>
        <% if @wiki.user.can_delete? %>
        <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %> 
        <% end %>
    <% end %>
 </div>
 </div>
</div>